

.Links{
  text-decoration: none;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 80px;
  text-align:center;
}

.Toggle:hover {
  color: #8AA6C1;
}

.CartInput {
    padding: 8px;
    margin: 10px;
    font-size: 14px;
}

.CartModifier {
  height: 14px;
  width: 50px;
  margin: 8px;
}

h1{
  text-align: left;
}

.ProductDisplay{
  display: flex;
  flex-wrap: wrap;
  text-align: left;
  justify-content: center;
  align-content: center;
  column-gap: 20px;
  row-gap: 20px;
  padding-bottom: 60px;
}

.Product {
  display: flex;
  width: 30%;
  text-align: center;
}

.ProductDetails {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
  align-content: center;
  padding-right: 10%;
  
}
.PictureCard {
  display: flex;
  flex-direction: column;
  padding-left: 20%;
  width: 50%;
}
.DetailsCard {
  width: 50%;
  text-align: left;
}

.DetailsImg {
  height: auto; 
  width: auto; 
  max-width: 70%; 
  max-height: 70%;
  padding-top: 10px;
}

.CenteredHeader{
  text-align: center;
}
.CartFlex {
  display: flex;
  text-align: left;
  flex-direction: row;
  column-gap: 100px;
  justify-content: left;
  align-content: center;
  align-items: center;
}
.Remove:hover{
  opacity: 0.9;
}
.Remove:active{
  opacity: 0.5;
}




