

.Links{
  text-decoration: none;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 80px;
  text-align:center;
}

.Toggle:hover {
  color: #8AA6C1;
}

.CartInput {
    padding: 8px;
    margin: 10px;
    font-size: 14px;
}

h1{
  text-align: center;
}

.ProductDisplay{
  display: flex;
  flex-wrap: wrap;
  text-align: left;
  justify-content: center;
  align-content: center;
  column-gap: 20px;
  row-gap: 20px;
  padding-bottom: 60px;
}

.Product {
  display: flex;
  width: 30%;
  text-align: center;
}
.ProductCard {
  
}




